body {
/*  padding-top: 40px;*/
  padding-bottom: 40px;
  position: relative;
}

body::before {
  z-index: -1;
  width: 100%;
  height: 100%;
  position:absolute; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.bgimage{
    background-image:url(../images/background.png);
    background-size:cover;
    
}
.thumbnail {
  display: block;
  padding: 4px;
  margin-bottom: 20px;
  line-height: 1.42857143;
  background-color: transparent;
  border: none;
  border-radius: 4px;
  -webkit-transition: border .2s ease-in-out;
       -o-transition: border .2s ease-in-out;
          transition: border .2s ease-in-out;
}

.parallax_wrapper {
    position: relative;
    transform: translateY(-40px);
    -webkit-transform: translateY(-40px);
    -o-transform: translateY(-40px);
    -moz-transform: translateY(-40px);
    margin-bottom: -40px
}

.rd-parallax-inner {
    min-height: 100%;
    overflow: hidden;
    position: relative
}
#showcase {
    margin-top: 200px;
/*    padding-bottom: 75px*/
}

.custom_showcase {
    position: relative
}

.custom_showcase .custom_showcase_wrapper {
    overflow: hidden;
/*    background: #fff;*/
    position: relative
}

.custom_showcase .custom_showcase_wrapper img {
    transform: translateX(-28px);
    -webkit-transform: translateX(-28px);
    -o-transform: translateX(-28px);
    -moz-transform: translateX(-28px);
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    position: relative
}

.custom_showcase:hover img {
    transform: translateX(-18px);
    -webkit-transform: translateX(-18px);
    -o-transform: translateX(-18px);
    -moz-transform: translateX(-18px);
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out
}

/*
.custom_showcase:hover .cnt_wrap {
    margin-top: -29px;
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out
}

.custom_showcase:hover .custom_showcase_bottom .cnt_wrap .btn {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out
}

.btn {
    margin: 15px 10px 0 0;
    font-size: 12px
}*/
